/* size system: 13.33 16 19.2 23.04 27.65 33.18 39.81 
color system: palatte: #E63946 #F1FAEE #A8DADC #457B9D #1D3557
 color #E63946: close colors: tints: #e94d59 shades: #cf333f
 color #: close colors: tints: # shades: #
 color #1D3557: close colors: tints: #344968 shades: #1a304e

 
 
 */

/* overall settings start*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Marcellus", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* overall settings end */

/* header starts */
/* navigator starts */
header {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  height: 7rem;
  padding: 1.5rem;
}

.nav {
  display: flex;
  align-content: space-between;
  gap: 10rem;
}

.nav_fold {
  background-color: #000;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}

.nav-link {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #457b9d;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  transition: all 0.3s;
  color: #000;
}

.nav_button {
  font-family: "Rubik", sans-serif;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  border: #eb616b;
  background-color: #eb616b;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 3.2rem;
  border-radius: 5.5rem;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 100%;
}

.nav_button:hover,
.nav_button:active {
  transition: all 0.3s;
  border: #e63946;
  background-color: #e63946;
  cursor: pointer;
  color: #fff;
}

/* navigator ends */

/* header body */

/* 
.header_text {
  margin-bottom: 3rem;
  font-family: "Rubik", sans-serif;
  width: 40rem;
  position: absolute;
  right: 50%;
  top: 20%;
}

.big_header {
  font-size: 8rem;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 10%;
  color: #333;
  margin-bottom: 2rem;
}

.big_header_text {
  margin-bottom: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}

section {
  padding: 9.6rem 0;
}

.container {
  margin: 0 auto;
}

/* header background
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671)),
  url(../content_files/image/fox3.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain; */

/* components */
/* logo container and logo */
.logo_black {
  display: inline-block;
}

.logo_white {
  filter: brightness(0) invert(1);
  display: inline-block;
}

.logo_big {
  height: 6rem;
  display: inline-block;
}

.logo_small {
  height: 4rem;
  display: inline-block;
}

.logo_container {
  display: block;
  align-self: center;
}

/* buttons */

.button_full {
  font-family: "Rubik", sans-serif;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  border: #eb616b;
  background-color: #eb616b;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 3.2rem;
  border-radius: 5.5rem;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 100%;
}

.button_empty {
}

.button_show_all {
}

/* round components */

.round {
}

.round_red {
}

.round_message {
}

.round_top {
}
